
/**
 * Forms 3.1.0 V12 compliant.
 */
    .f52d6f0d0-98e7-497d-a224-98342962c7c6 .pane_toolbar > .label {
        display:none !important;
    }
    .f52d6f0d0-98e7-497d-a224-98342962c7c6 .pane_Equipments__add_delete > .label {
        display:none !important;
    }
    .f52d6f0d0-98e7-497d-a224-98342962c7c6 .pane_TechnicalInfo_equipment__add_delete > .label {
        display:none !important;
    }
    .f52d6f0d0-98e7-497d-a224-98342962c7c6 .pane_content > .label {
        
display:block !important;    }
    .f52d6f0d0-98e7-497d-a224-98342962c7c6 .pane_messages > .label {
        display:none !important;
    }
