
/**
 * Forms 3.1.0 V12 compliant.
 */
    .f475cad2d-be3b-4ab5-89ed-b9125d92f867 .pane_toolbar > .label {
        display:none !important;
    }
    .f475cad2d-be3b-4ab5-89ed-b9125d92f867 .pane_messages > .label {
        display:none !important;
    }
    .f475cad2d-be3b-4ab5-89ed-b9125d92f867 .pane_Equipments__add_delete > .label {
        display:none !important;
    }
    .f475cad2d-be3b-4ab5-89ed-b9125d92f867 .pane_TechnicalInfo_equipment__add_delete > .label {
        display:none !important;
    }
    .f475cad2d-be3b-4ab5-89ed-b9125d92f867 .pane_content > .label {
        
display:block !important;    }
