
/**
 * Forms 3.1.0 V12 compliant.
 */
    .f3c644253-ed0f-4d7a-8bde-9ead9445e4ef .pane_TechnicalInfo_equipment__add_delete > .label {
        display:none !important;
    }
    .f3c644253-ed0f-4d7a-8bde-9ead9445e4ef .pane_CommentHistory__add_delete > .label {
        display:none !important;
    }
    .f3c644253-ed0f-4d7a-8bde-9ead9445e4ef .pane_content > .label {
        
display:block !important;    }
    .f3c644253-ed0f-4d7a-8bde-9ead9445e4ef .pane_toolbar > .label {
        display:none !important;
    }
    .f3c644253-ed0f-4d7a-8bde-9ead9445e4ef .pane_messages > .label {
        display:none !important;
    }
