
/**
 * Forms 3.1.0 V12 compliant.
 */
    .f5e11635e-ba79-40ed-9600-1519da60c2e4 .pane_messages > .label {
        display:none !important;
    }
.TibcoForms.f5e11635e-ba79-40ed-9600-1519da60c2e4 .pane_toolbar {
overflow: auto;    	width: 200px;
}
    .f5e11635e-ba79-40ed-9600-1519da60c2e4 .pane_toolbar > .label {
        display:none !important;
    }
	.f5e11635e-ba79-40ed-9600-1519da60c2e4 .control_lblResponseMessage > .label > label {
	    display:none !important;
	}
.TibcoForms.f5e11635e-ba79-40ed-9600-1519da60c2e4 .pane_pneMarginPane {
    height: 10px;
overflow: auto;    }
    .f5e11635e-ba79-40ed-9600-1519da60c2e4 .pane_pneMarginPane > .label {
        display:none !important;
    }
    .f5e11635e-ba79-40ed-9600-1519da60c2e4 .pane_ContractorGroup > .label {
        display:none !important;
    }
    .f5e11635e-ba79-40ed-9600-1519da60c2e4 .pane_pneResponsePane > .label {
        display:none !important;
    }
.f5e11635e-ba79-40ed-9600-1519da60c2e4 .pane_pneResponsePane>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.f5e11635e-ba79-40ed-9600-1519da60c2e4 .pane_pneResponsePane>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
    .f5e11635e-ba79-40ed-9600-1519da60c2e4 .pane_LDAPEntry_input__add_delete > .label {
        display:none !important;
    }
.TibcoForms.f5e11635e-ba79-40ed-9600-1519da60c2e4 .pane_content {
 	background-color: #ffffff;
overflow: auto;    	width: 1027px;
}
    .f5e11635e-ba79-40ed-9600-1519da60c2e4 .pane_content > .label {
        
display:block !important;    }
