
/**
 * Forms 3.1.0 V12 compliant.
 */
    .f355b1898-1421-48e4-ace4-b1625255cf83 .pane_messages > .label {
        display:none !important;
    }
.TibcoForms.f355b1898-1421-48e4-ace4-b1625255cf83 .pane_content {
overflow: auto;    	width: 1027px;
}
    .f355b1898-1421-48e4-ace4-b1625255cf83 .pane_content > .label {
        display:none !important;
    }
.TibcoForms.f355b1898-1421-48e4-ace4-b1625255cf83 .pane_toolbar {
overflow: auto;    	width: 200px;
}
    .f355b1898-1421-48e4-ace4-b1625255cf83 .pane_toolbar > .label {
        display:none !important;
    }
