
/**
 * Forms 3.1.0 V12 compliant.
 */
    .f3690743c-6fed-4554-a30f-12ba277ade20 .pane_ListOfTablesCopy_pi_started__add_delete > .label {
        display:none !important;
    }
    .f3690743c-6fed-4554-a30f-12ba277ade20 .pane_ListOfTablesCopy_pi_complete__add_delete > .label {
        display:none !important;
    }
    .f3690743c-6fed-4554-a30f-12ba277ade20 .pane_ListOfTablesCopy_pi_halted__add_delete > .label {
        display:none !important;
    }
    .f3690743c-6fed-4554-a30f-12ba277ade20 .pane_ListOfTablesCopy_pi_cancelled__add_delete > .label {
        display:none !important;
    }
    .f3690743c-6fed-4554-a30f-12ba277ade20 .pane_ListOfTables_pi_cancelled__add_delete > .label {
        display:none !important;
    }
    .f3690743c-6fed-4554-a30f-12ba277ade20 .pane_ListOfTables_pi_started__add_delete > .label {
        display:none !important;
    }
    .f3690743c-6fed-4554-a30f-12ba277ade20 .pane_ListOfTables_pi_complete__add_delete > .label {
        display:none !important;
    }
    .f3690743c-6fed-4554-a30f-12ba277ade20 .pane_ListOfTables_pi_halted__add_delete > .label {
        display:none !important;
    }
    .f3690743c-6fed-4554-a30f-12ba277ade20 .pane_content > .label {
        
display:block !important;    }
    .f3690743c-6fed-4554-a30f-12ba277ade20 .pane_messages > .label {
        display:none !important;
    }
    .f3690743c-6fed-4554-a30f-12ba277ade20 .pane_toolbar > .label {
        display:none !important;
    }
