
/**
 * Forms 3.1.0 V12 compliant.
 */
.TibcoForms.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pane2 {
    height: 10px;
overflow: auto;    }
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pane2 > .label {
        display:none !important;
    }
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane .pane-content .control_label10 {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane .pane-content .control_label10 .tf-container {
	width: 10px;
}
	.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .control_label10 > .label > label {
	    display:none !important;
	}
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_contactDetails > .label {
        display:none !important;
    }
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane .pane-content .control_label3 {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane .pane-content .control_label3 .tf-container {
	width: 10px;
}
	.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .control_label3 > .label > label {
	    display:none !important;
	}
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_Pane03 > .label {
        display:none !important;
    }
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_installationAddress > .label {
        display:none !important;
    }
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pane1 > .label {
        display:none !important;
    }
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pane8 > .label {
        display:none !important;
    }
	.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .control_image1 > .label > label {
	    display:none !important;
	}
.TibcoForms.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pane9 {
    height: 10px;
overflow: auto;    }
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pane9 > .label {
        display:none !important;
    }
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pneClientDetails02 > .label {
        display:none !important;
    }
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_clientDetails > .label {
        display:none !important;
    }
.TibcoForms.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pneMarginPane {
    height: 10px;
overflow: auto;    }
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pneMarginPane > .label {
        display:none !important;
    }
.TibcoForms.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pane5 {
    height: 10px;
overflow: auto;    }
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pane5 > .label {
        display:none !important;
    }
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pane17 > .label {
        display:none !important;
    }
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pneSelectProjectManager01 > .label {
        display:none !important;
    }
.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pneSelectProjectManager01>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pneSelectProjectManager01>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
.TibcoForms.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pneMarginPane01 {
    height: 10px;
overflow: auto;    }
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pneSelectProjectManager > .label {
        display:none !important;
    }
.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pneSelectProjectManager>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pneSelectProjectManager>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pane16 > .label {
        display:none !important;
    }
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_selectContractor > .label {
        display:none !important;
    }
.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_selectContractor>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_selectContractor>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
.TibcoForms.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pane7 {
    height: 10px;
overflow: auto;    }
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pane7 > .label {
        display:none !important;
    }
	.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .control_CommentText > .label > label {
	    display:none !important;
	}
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pneCommentPane > .label {
        display:none !important;
    }
.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pneCommentPane>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pneCommentPane>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
	.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .control_Provisioning_Data_notesComments > .label > label {
	    display:none !important;
	}
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pane11 > .label {
        display:none !important;
    }
.TibcoForms.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pane10 {
overflow: auto;        padding: 10px;
}
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pane10 > .label {
        display:none !important;
    }
.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pane10>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pane10>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
.TibcoForms.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pane3 {
    height: 10px;
overflow: auto;    }
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pane3 > .label {
        display:none !important;
    }
/** 
 * The font properties are applied directly at the control widget level so as to not affect the hint properties
 * for the control.
 *
 * Having #TibcoForms will give this higher specificity than the font defined at parent pane level.
 * As otherwise pane font was getting the preference always.
 */
.TibcoForms.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane .pane-content .control_Provisioning_Data_account .tf-container .control-widget,

 .TibcoForms.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane .pane-content .control_Provisioning_Data_account .tf-container .control-widget input {
 	color: #000000;
 	text-align: left;
}
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_generalDetails > .label {
        display:none !important;
    }
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pne01 > .label {
        display:none !important;
    }
.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pne01>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pne01>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
/** 
 * The font properties are applied directly at the control widget level so as to not affect the hint properties
 * for the control.
 *
 * Having #TibcoForms will give this higher specificity than the font defined at parent pane level.
 * As otherwise pane font was getting the preference always.
 */
.TibcoForms.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane .pane-content .control_Provisioning_Data_serviceType .tf-container .control-widget,

 .TibcoForms.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane .pane-content .control_Provisioning_Data_serviceType .tf-container .control-widget input {
 	color: #000000;
 	text-align: left;
}
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane .pane-content .control_label7 {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane .pane-content .control_label7 .tf-container {
	width: 10px;
}
	.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .control_label7 > .label > label {
	    display:none !important;
	}
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_serviceDates > .label {
        display:none !important;
    }
.TibcoForms.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pneMarginCommentPane {
    height: 10px;
overflow: auto;    }
.TibcoForms.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pane4 {
    height: 10px;
overflow: auto;    }
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pane4 > .label {
        display:none !important;
    }
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane .pane-content .control_label6 {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane .pane-content .control_label6 .tf-container {
	width: 10px;
}
	.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .control_label6 > .label > label {
	    display:none !important;
	}
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_serviceRequest > .label {
        display:none !important;
    }
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pneContractorAgency > .label {
        display:none !important;
    }
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_selectContractorAgency > .label {
        display:none !important;
    }
.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_selectContractorAgency>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_selectContractorAgency>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pneTechInfo01 > .label {
        display:none !important;
    }
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pneTechInfo04 > .label {
        display:none !important;
    }
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pneTechInfo02 > .label {
        display:none !important;
    }
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pneTechInfo06 > .label {
        display:none !important;
    }
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pneTechInfo03 > .label {
        display:none !important;
    }
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pneTechInfoParent > .label {
        display:none !important;
    }
.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pneTechInfoParent>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pneTechInfoParent>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
.TibcoForms.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pneMarginPaneSelectContractor {
    height: 10px;
overflow: auto;    }
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pneMarginPaneSelectContractor > .label {
        display:none !important;
    }
.TibcoForms.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pane6 {
    height: 10px;
overflow: auto;    }
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pane6 > .label {
        display:none !important;
    }
.TibcoForms.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_MarginPaneTechnicalInfo {
    height: 10px;
overflow: auto;    }
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_MarginPaneTechnicalInfo > .label {
        display:none !important;
    }
.TibcoForms.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pneMarginPaneCntrAgnt {
    height: 10px;
overflow: auto;    }
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pneMarginPaneCntrAgnt > .label {
        display:none !important;
    }
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane .pane-content .control_CommentHistory_comments {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane .pane-content .control_CommentHistory_comments .tf-container {
	width: 200px;
}
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pneComments > .label {
        display:none !important;
    }
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pnecommenthistory > .label {
        display:none !important;
    }
.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pnecommenthistory>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pnecommenthistory>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_ProvisioningData > .label {
        display:none !important;
    }
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_content > .label {
        
display:table-cell !important;    }
.TibcoForms.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pane15 {
 	background-color: #ffffff;
overflow: auto;    }
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pane15 > .label {
        display:none !important;
    }
.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pane15>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_pane15>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
.TibcoForms.f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_toolbar {
overflow: auto;    	width: 200px;
}
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_toolbar > .label {
        display:none !important;
    }
    .f930ced5e-ad45-4fc7-aaa4-27cdf0afa74f .pane_messages > .label {
        display:none !important;
    }
