
/**
 * Forms 3.1.0 V12 compliant.
 */
.TibcoForms.f2007744f-a0b0-409f-beed-21e9865be8dd .pane_toolbar {
overflow: auto;    	width: 200px;
}
    .f2007744f-a0b0-409f-beed-21e9865be8dd .pane_toolbar > .label {
        display:none !important;
    }
    .f2007744f-a0b0-409f-beed-21e9865be8dd .pane_messages > .label {
        display:none !important;
    }
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.f2007744f-a0b0-409f-beed-21e9865be8dd .pane .pane-content .control_BusinessUser_createresourcerequest_addby {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.f2007744f-a0b0-409f-beed-21e9865be8dd .pane .pane-content .control_BusinessUser_createresourcerequest_addby .tf-container {
	width: 200px;
}
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.f2007744f-a0b0-409f-beed-21e9865be8dd .pane .pane-content .control_BusinessUser_createresourcerequest_result {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.f2007744f-a0b0-409f-beed-21e9865be8dd .pane .pane-content .control_BusinessUser_createresourcerequest_result .tf-container {
	width: 200px;
}
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.f2007744f-a0b0-409f-beed-21e9865be8dd .pane .pane-content .control_BusinessUser_createresourcerequest_action {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.f2007744f-a0b0-409f-beed-21e9865be8dd .pane .pane-content .control_BusinessUser_createresourcerequest_action .tf-container {
	width: 200px;
}
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.f2007744f-a0b0-409f-beed-21e9865be8dd .pane .pane-content .control_BusinessUser_createresourcerequest_name {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.f2007744f-a0b0-409f-beed-21e9865be8dd .pane .pane-content .control_BusinessUser_createresourcerequest_name .tf-container {
	width: 200px;
}
    .f2007744f-a0b0-409f-beed-21e9865be8dd .pane_BusinessUser_createresourcerequest > .label {
        display:none !important;
    }
    .f2007744f-a0b0-409f-beed-21e9865be8dd .pane_BusinessUser > .label {
        display:none !important;
    }
	.f2007744f-a0b0-409f-beed-21e9865be8dd .control_imgSFC > .label > label {
	    display:none !important;
	}
.TibcoForms.f2007744f-a0b0-409f-beed-21e9865be8dd .pane_content {
 	background-color: #ffffff;
overflow: auto;    	width: 1027px;
}
    .f2007744f-a0b0-409f-beed-21e9865be8dd .pane_content > .label {
        display:none !important;
    }
