
/**
 * Forms 3.1.0 V12 compliant.
 */
    .f23b0fe1c-c0e0-43e4-9a47-0b77217145b7 .pane_content > .label {
        
display:block !important;    }
    .f23b0fe1c-c0e0-43e4-9a47-0b77217145b7 .pane_toolbar > .label {
        display:none !important;
    }
    .f23b0fe1c-c0e0-43e4-9a47-0b77217145b7 .pane_messages > .label {
        display:none !important;
    }
