
/**
 * Forms 3.1.0 V12 compliant.
 */
    .f16042d66-c77a-48a3-a1d7-9469873220bc .pane_toolbar > .label {
        display:none !important;
    }
    .f16042d66-c77a-48a3-a1d7-9469873220bc .pane_content > .label {
        
display:block !important;    }
    .f16042d66-c77a-48a3-a1d7-9469873220bc .pane_messages > .label {
        display:none !important;
    }
