
/**
 * Forms 3.1.0 V12 compliant.
 */
    .fbdd1d4f9-4042-4f4b-b7e5-0f8f75c49977 .pane_messages > .label {
        display:none !important;
    }
.TibcoForms.fbdd1d4f9-4042-4f4b-b7e5-0f8f75c49977 .pane_toolbar {
overflow: auto;    	width: 200px;
}
    .fbdd1d4f9-4042-4f4b-b7e5-0f8f75c49977 .pane_toolbar > .label {
        display:none !important;
    }
.TibcoForms.fbdd1d4f9-4042-4f4b-b7e5-0f8f75c49977 .pane_content {
overflow: auto;    	width: 1027px;
}
    .fbdd1d4f9-4042-4f4b-b7e5-0f8f75c49977 .pane_content > .label {
        display:none !important;
    }
