
/**
 * Forms 3.1.0 V12 compliant.
 */
    .f4f0392a3-df4a-4a4c-9946-74bdc3682268 .pane_ResouceEntry_input__add_delete > .label {
        display:none !important;
    }
    .f4f0392a3-df4a-4a4c-9946-74bdc3682268 .pane_content > .label {
        
display:block !important;    }
    .f4f0392a3-df4a-4a4c-9946-74bdc3682268 .pane_messages > .label {
        display:none !important;
    }
    .f4f0392a3-df4a-4a4c-9946-74bdc3682268 .pane_toolbar > .label {
        display:none !important;
    }
