/* HTML5 HACK -------------------------------------- */  
header, section, footer, aside, nav, article {  
	display: block;  
}
 
/* LAYOUT ------------------------------------------ */
 
body {
  background: #fff;
  font-size: 12px;
  font-color: #444;
  font-family: Verdana, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
 
#doc  {
  width: 800px;
  margin: 0 auto;
}
 
/* HEADER & NAVIGATION ------------------------------ */
 
#header {
  background: #333;
  padding: 0 15px;
}
 
#header h1 {
  margin: 0;
  padding: 15px 0;
  color: #A5A5A5;
}
 
#header nav ul {
  list-style-type: none;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
 
#header nav ul li {
  display: inline;
  margin: 0;
  padding: 0;
}
 
#header nav ul li a {
  display: inline-block;
  padding: 2px 10px;
  color: #fff;
  background-color: #CC3366;
  text-decoration: none;
}
 
#header nav ul li.active a,
#header nav ul li a:hover {
  background-color: #fff;
  color: #444;
}
 
/* CONTENT ------------------------------------------ */
 
#content {
  width: 440px;
  padding: 0 15px;
  margin: 0 0 10px 0;
  float: left;
}
 
table.tabular{border-bottom:1px solid #ccc;background-color:#eee;border-collapse:collapse;margin:2px}
table.tabular td,table.tabular th{border-top:1px solid #ccc;border-right:1px solid #ccc;padding:3px 2px 3px 3px}
table.tabular td:first-child,table.tabular th:first-child{border-left:1px solid #ccc}
table.tabular-alt{margin:2px}
table.tabular-alt thead tr{background-color:#fc0}
table.tabular-alt tr{background-color:#fff4c8}
table.tabular-alt tr.alt{background-color:#fff8db} 
 
/* SIDEBAR ------------------------------------------ */
 
aside {
  width: 300px;
  padding: 0 15px;
  margin: 0 0 10px 0;
  float: left;
}
 
/* FOOTER ------------------------------------------ */
 
footer {
  clear: both;
  background: #DDD;
  text-align: right;
  padding: 10px 15px;
  margin: 10px 0 0 0;
}
 
footer a {
  color: #999;
}

a {
  color: #777;
}

i {
  font-size: 8px;
  color: #aaa;
}