
/**
 * Forms 3.1.0 V12 compliant.
 */
    .f79a633fa-21bd-407a-85e1-a36b85ff90a4 .pane_toolbar > .label {
        display:none !important;
    }
    .f79a633fa-21bd-407a-85e1-a36b85ff90a4 .pane_messages > .label {
        display:none !important;
    }
    .f79a633fa-21bd-407a-85e1-a36b85ff90a4 .pane_content > .label {
        
display:block !important;    }
