
/**
 * Forms 3.1.0 V12 compliant.
 */
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.f2015f55e-1951-4b41-affd-02845c0081c0 .pane .pane-content .control_autoCaseIdentifier1 {
overflow: auto;            padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}
/**
 * width, height are applied to the control container.
 */
.f2015f55e-1951-4b41-affd-02845c0081c0 .pane .pane-content .control_autoCaseIdentifier1 .tf-container {
}
.TibcoForms.f2015f55e-1951-4b41-affd-02845c0081c0 .pane_content {
overflow: auto;    	width: 1027px;
}
    .f2015f55e-1951-4b41-affd-02845c0081c0 .pane_content > .label {
        display:none !important;
    }
.TibcoForms.f2015f55e-1951-4b41-affd-02845c0081c0 .pane_toolbar {
overflow: auto;    	width: 200px;
}
    .f2015f55e-1951-4b41-affd-02845c0081c0 .pane_toolbar > .label {
        display:none !important;
    }
    .f2015f55e-1951-4b41-affd-02845c0081c0 .pane_messages > .label {
        display:none !important;
    }
