
/**
 * Forms 3.1.0 V12 compliant.
 */
    .f280b11df-4f59-4264-b301-af5b3e2800f2 .pane_toolbar > .label {
        display:none !important;
    }
    .f280b11df-4f59-4264-b301-af5b3e2800f2 .pane_CommentHistory__add_delete > .label {
        display:none !important;
    }
    .f280b11df-4f59-4264-b301-af5b3e2800f2 .pane_TechnicalInfo_equipment__add_delete > .label {
        display:none !important;
    }
    .f280b11df-4f59-4264-b301-af5b3e2800f2 .pane_content > .label {
        
display:block !important;    }
    .f280b11df-4f59-4264-b301-af5b3e2800f2 .pane_messages > .label {
        display:none !important;
    }
