
/**
 * Forms 3.1.0 V12 compliant.
 */
    .faa190a46-3075-4a9b-8cd7-77be23a5494b .pane_toolbar > .label {
        display:none !important;
    }
    .faa190a46-3075-4a9b-8cd7-77be23a5494b .pane_TechnicalInfo_equipment__add_delete > .label {
        display:none !important;
    }
    .faa190a46-3075-4a9b-8cd7-77be23a5494b .pane_CommentHistory__add_delete > .label {
        display:none !important;
    }
    .faa190a46-3075-4a9b-8cd7-77be23a5494b .pane_content > .label {
        
display:block !important;    }
    .faa190a46-3075-4a9b-8cd7-77be23a5494b .pane_messages > .label {
        display:none !important;
    }
