
/**
 * Forms 3.1.0 V12 compliant.
 */
    .ff79f4477-bcfd-4604-b00f-e6a8891ceff5 .pane_BusinessUser_createresourcerequest__add_delete > .label {
        display:none !important;
    }
    .ff79f4477-bcfd-4604-b00f-e6a8891ceff5 .pane_resourceList__add_delete > .label {
        display:none !important;
    }
    .ff79f4477-bcfd-4604-b00f-e6a8891ceff5 .pane_content > .label {
        
display:block !important;    }
    .ff79f4477-bcfd-4604-b00f-e6a8891ceff5 .pane_toolbar > .label {
        display:none !important;
    }
    .ff79f4477-bcfd-4604-b00f-e6a8891ceff5 .pane_messages > .label {
        display:none !important;
    }
