
/**
 * Forms 3.1.0 V12 compliant.
 */
    .f3f4e9f14-f071-4928-af83-6fccfa026c8f .pane_toolbar > .label {
        display:none !important;
    }
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.f3f4e9f14-f071-4928-af83-6fccfa026c8f .pane .pane-content .control_image1 {
    margin: 5px;
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.f3f4e9f14-f071-4928-af83-6fccfa026c8f .pane .pane-content .control_image1 .tf-container {
}
	.f3f4e9f14-f071-4928-af83-6fccfa026c8f .control_image1 > .label > label {
	    display:none !important;
	}
    .f3f4e9f14-f071-4928-af83-6fccfa026c8f .pane_ContractorNormalUsers__add_delete > .label {
        display:none !important;
    }
    .f3f4e9f14-f071-4928-af83-6fccfa026c8f .pane_ContractorNormalUsers > .label {
        display:none !important;
    }
    .f3f4e9f14-f071-4928-af83-6fccfa026c8f .pane_pneButtonPane02 > .label {
        display:none !important;
    }
    .f3f4e9f14-f071-4928-af83-6fccfa026c8f .pane_pane4 > .label {
        display:none !important;
    }
.f3f4e9f14-f071-4928-af83-6fccfa026c8f .pane_pane4>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.f3f4e9f14-f071-4928-af83-6fccfa026c8f .pane_pane4>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
.TibcoForms.f3f4e9f14-f071-4928-af83-6fccfa026c8f .pane_pane3 {
    height: 10px;
overflow: auto;    }
.f3f4e9f14-f071-4928-af83-6fccfa026c8f .pane_pneContractorUserDetails>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.f3f4e9f14-f071-4928-af83-6fccfa026c8f .pane_pneContractorUserDetails>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
	.f3f4e9f14-f071-4928-af83-6fccfa026c8f .control_onboardUsers > .label > label {
	    display:none !important;
	}
    .f3f4e9f14-f071-4928-af83-6fccfa026c8f .pane_pane1 > .label {
        display:none !important;
    }
    .f3f4e9f14-f071-4928-af83-6fccfa026c8f .pane_pneContractorGroupName > .label {
        display:none !important;
    }
    .f3f4e9f14-f071-4928-af83-6fccfa026c8f .pane_ContractorGroup > .label {
        display:none !important;
    }
.TibcoForms.f3f4e9f14-f071-4928-af83-6fccfa026c8f .pane_pneMarginPane {
    height: 10px;
overflow: auto;    }
    .f3f4e9f14-f071-4928-af83-6fccfa026c8f .pane_pneMarginPane > .label {
        display:none !important;
    }
    .f3f4e9f14-f071-4928-af83-6fccfa026c8f .pane_pneContractorMaster > .label {
        display:none !important;
    }
.f3f4e9f14-f071-4928-af83-6fccfa026c8f .pane_pneContractorMaster>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.f3f4e9f14-f071-4928-af83-6fccfa026c8f .pane_pneContractorMaster>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
    .f3f4e9f14-f071-4928-af83-6fccfa026c8f .pane_BusinessUser_createresourcerequest__add_delete > .label {
        display:none !important;
    }
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.f3f4e9f14-f071-4928-af83-6fccfa026c8f .pane .pane-content .control_BusinessUser_createresourcerequest_entityname {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.f3f4e9f14-f071-4928-af83-6fccfa026c8f .pane .pane-content .control_BusinessUser_createresourcerequest_entityname .tf-container {
	width: 200px;
}
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.f3f4e9f14-f071-4928-af83-6fccfa026c8f .pane .pane-content .control_BusinessUser_createresourcerequest_email {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.f3f4e9f14-f071-4928-af83-6fccfa026c8f .pane .pane-content .control_BusinessUser_createresourcerequest_email .tf-container {
	width: 200px;
}
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.f3f4e9f14-f071-4928-af83-6fccfa026c8f .pane .pane-content .control_BusinessUser_createresourcerequest_name {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.f3f4e9f14-f071-4928-af83-6fccfa026c8f .pane .pane-content .control_BusinessUser_createresourcerequest_name .tf-container {
	width: 200px;
}
    .f3f4e9f14-f071-4928-af83-6fccfa026c8f .pane_BusinessUser_createresourcerequest > .label {
        display:none !important;
    }
    .f3f4e9f14-f071-4928-af83-6fccfa026c8f .pane_pneButton01 > .label {
        display:none !important;
    }
    .f3f4e9f14-f071-4928-af83-6fccfa026c8f .pane_BusinessUser > .label {
        display:none !important;
    }
.TibcoForms.f3f4e9f14-f071-4928-af83-6fccfa026c8f .pane_pane2 {
    height: 10px;
overflow: auto;    }
    .f3f4e9f14-f071-4928-af83-6fccfa026c8f .pane_pane2 > .label {
        display:none !important;
    }
    .f3f4e9f14-f071-4928-af83-6fccfa026c8f .pane_pneAddBusinessUsers > .label {
        display:none !important;
    }
.TibcoForms.f3f4e9f14-f071-4928-af83-6fccfa026c8f .pane_content {
overflow: auto;    	width: 1027px;
}
    .f3f4e9f14-f071-4928-af83-6fccfa026c8f .pane_content > .label {
        
display:block !important;    }
    .f3f4e9f14-f071-4928-af83-6fccfa026c8f .pane_messages > .label {
        display:none !important;
    }
