
/**
 * Forms 3.1.0 V12 compliant.
 */
    .fadd52d60-6c0a-45ec-b6a8-a88b4a3d627a .pane_toolbar > .label {
        display:none !important;
    }
    .fadd52d60-6c0a-45ec-b6a8-a88b4a3d627a .pane_content > .label {
        
display:block !important;    }
    .fadd52d60-6c0a-45ec-b6a8-a88b4a3d627a .pane_messages > .label {
        display:none !important;
    }
