
/**
 * Forms 3.1.0 V12 compliant.
 */
.TibcoForms.f6fb0b24f-e405-4dd7-9c01-78c7d6f3dcce .pane_toolbar {
overflow: auto;    	width: 200px;
}
    .f6fb0b24f-e405-4dd7-9c01-78c7d6f3dcce .pane_toolbar > .label {
        display:none !important;
    }
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.f6fb0b24f-e405-4dd7-9c01-78c7d6f3dcce .pane .pane-content .control_propertyName {
overflow: auto;            padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}
/**
 * width, height are applied to the control container.
 */
.f6fb0b24f-e405-4dd7-9c01-78c7d6f3dcce .pane .pane-content .control_propertyName .tf-container {
}
.TibcoForms.f6fb0b24f-e405-4dd7-9c01-78c7d6f3dcce .pane_content {
overflow: auto;    	width: 1027px;
}
    .f6fb0b24f-e405-4dd7-9c01-78c7d6f3dcce .pane_content > .label {
        display:none !important;
    }
    .f6fb0b24f-e405-4dd7-9c01-78c7d6f3dcce .pane_messages > .label {
        display:none !important;
    }
