
/**
 * Forms 3.1.0 V12 compliant.
 */
    .f4f229a9a-4889-4c36-8a59-59f6a749016a .pane_toolbar > .label {
        display:none !important;
    }
    .f4f229a9a-4889-4c36-8a59-59f6a749016a .pane_TechnicalInfo_equipment__add_delete > .label {
        display:none !important;
    }
    .f4f229a9a-4889-4c36-8a59-59f6a749016a .pane_content > .label {
        
display:block !important;    }
    .f4f229a9a-4889-4c36-8a59-59f6a749016a .pane_messages > .label {
        display:none !important;
    }
