
/**
 * Forms 3.1.0 V12 compliant.
 */
    .f0f92e437-dfd2-4839-8176-cde29f3b627e .pane_SLA_Configuration > .label {
        display:none !important;
    }
    .f0f92e437-dfd2-4839-8176-cde29f3b627e .pane_pane1 > .label {
        display:none !important;
    }
.f0f92e437-dfd2-4839-8176-cde29f3b627e .pane_pane1>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.f0f92e437-dfd2-4839-8176-cde29f3b627e .pane_pane1>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
.TibcoForms.f0f92e437-dfd2-4839-8176-cde29f3b627e .pane_pneMarginPane01 {
    height: 10px;
overflow: auto;    }
    .f0f92e437-dfd2-4839-8176-cde29f3b627e .pane_SLA_Configuration_To_Be_Deleted__add_delete > .label {
        display:none !important;
    }
.TibcoForms.f0f92e437-dfd2-4839-8176-cde29f3b627e .pane_content {
overflow: auto;    	width: 1027px;
}
    .f0f92e437-dfd2-4839-8176-cde29f3b627e .pane_content > .label {
        display:none !important;
    }
    .f0f92e437-dfd2-4839-8176-cde29f3b627e .pane_toolbar > .label {
        display:none !important;
    }
    .f0f92e437-dfd2-4839-8176-cde29f3b627e .pane_messages > .label {
        display:none !important;
    }
