
/**
 * Forms 3.1.0 V12 compliant.
 */
    .f3190c32a-3f9f-4274-a71f-6fd5697cc8a4 .pane_toolbar > .label {
        display:none !important;
    }
    .f3190c32a-3f9f-4274-a71f-6fd5697cc8a4 .pane_messages > .label {
        display:none !important;
    }
.TibcoForms.f3190c32a-3f9f-4274-a71f-6fd5697cc8a4 .pane_pneMarginPane01 {
    height: 10px;
overflow: auto;    }
    .f3190c32a-3f9f-4274-a71f-6fd5697cc8a4 .pane_SLA_Configuration_To_Be_Deleted__add_delete > .label {
        display:none !important;
    }
    .f3190c32a-3f9f-4274-a71f-6fd5697cc8a4 .pane_SLA_Configuration > .label {
        display:none !important;
    }
    .f3190c32a-3f9f-4274-a71f-6fd5697cc8a4 .pane_pane1 > .label {
        display:none !important;
    }
.f3190c32a-3f9f-4274-a71f-6fd5697cc8a4 .pane_pane1>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.f3190c32a-3f9f-4274-a71f-6fd5697cc8a4 .pane_pane1>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
.TibcoForms.f3190c32a-3f9f-4274-a71f-6fd5697cc8a4 .pane_content {
overflow: auto;    	width: 1027px;
}
    .f3190c32a-3f9f-4274-a71f-6fd5697cc8a4 .pane_content > .label {
        display:none !important;
    }
