
/**
 * Forms 3.1.0 V12 compliant.
 */
    .fb508987c-e428-417c-844b-920aeb6cf59d .pane_messages > .label {
        display:none !important;
    }
.TibcoForms.fb508987c-e428-417c-844b-920aeb6cf59d .pane_toolbar {
overflow: auto;    	width: 200px;
}
    .fb508987c-e428-417c-844b-920aeb6cf59d .pane_toolbar > .label {
        display:none !important;
    }
.TibcoForms.fb508987c-e428-417c-844b-920aeb6cf59d .pane_pneMarginPane01 {
    height: 10px;
overflow: auto;    }
    .fb508987c-e428-417c-844b-920aeb6cf59d .pane_SLA_Configuration > .label {
        display:none !important;
    }
    .fb508987c-e428-417c-844b-920aeb6cf59d .pane_pane1 > .label {
        display:none !important;
    }
.fb508987c-e428-417c-844b-920aeb6cf59d .pane_pane1>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.fb508987c-e428-417c-844b-920aeb6cf59d .pane_pane1>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
    .fb508987c-e428-417c-844b-920aeb6cf59d .pane_SLA_Configuration_To_Be_Deleted__add_delete > .label {
        display:none !important;
    }
.TibcoForms.fb508987c-e428-417c-844b-920aeb6cf59d .pane_content {
overflow: auto;    	width: 1027px;
}
    .fb508987c-e428-417c-844b-920aeb6cf59d .pane_content > .label {
        display:none !important;
    }
