
/**
 * Forms 3.1.0 V12 compliant.
 */
    .f06863991-01d2-4821-99df-b004d4b1ee93 .pane_TechnicalInfo_equipment__add_delete > .label {
        display:none !important;
    }
    .f06863991-01d2-4821-99df-b004d4b1ee93 .pane_content > .label {
        
display:block !important;    }
    .f06863991-01d2-4821-99df-b004d4b1ee93 .pane_messages > .label {
        display:none !important;
    }
    .f06863991-01d2-4821-99df-b004d4b1ee93 .pane_toolbar > .label {
        display:none !important;
    }
