
/**
 * Forms 3.1.0 V12 compliant.
 */
    .fa66a5835-50a6-48b6-8f87-bd950a5555be .pane_messages > .label {
        display:none !important;
    }
.TibcoForms.fa66a5835-50a6-48b6-8f87-bd950a5555be .pane_toolbar {
overflow: auto;    	width: 200px;
}
    .fa66a5835-50a6-48b6-8f87-bd950a5555be .pane_toolbar > .label {
        display:none !important;
    }
.TibcoForms.fa66a5835-50a6-48b6-8f87-bd950a5555be .pane_pane1 {
    height: 13px;
overflow: auto;    	width: 89px;
}
    .fa66a5835-50a6-48b6-8f87-bd950a5555be .pane_pane1 > .label {
        display:none !important;
    }
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.fa66a5835-50a6-48b6-8f87-bd950a5555be .pane .pane-content .control_SystemParameters_propertyValue {
overflow: auto;            padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
/**
 * width, height are applied to the control container.
 */
.fa66a5835-50a6-48b6-8f87-bd950a5555be .pane .pane-content .control_SystemParameters_propertyValue .tf-container {
}
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.fa66a5835-50a6-48b6-8f87-bd950a5555be .pane .pane-content .control_SystemParameters_propertyName {
overflow: auto;            padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
/**
 * width, height are applied to the control container.
 */
.fa66a5835-50a6-48b6-8f87-bd950a5555be .pane .pane-content .control_SystemParameters_propertyName .tf-container {
}
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.fa66a5835-50a6-48b6-8f87-bd950a5555be .pane .pane-content .control_ConfirmCaseObjectDelete {
overflow: auto;            padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}
/**
 * width, height are applied to the control container.
 */
.fa66a5835-50a6-48b6-8f87-bd950a5555be .pane .pane-content .control_ConfirmCaseObjectDelete .tf-container {
}
.TibcoForms.fa66a5835-50a6-48b6-8f87-bd950a5555be .pane_content {
overflow: auto;    	width: 1027px;
}
    .fa66a5835-50a6-48b6-8f87-bd950a5555be .pane_content > .label {
        
display:block !important;    }
