
/**
 * Forms 3.1.0 V12 compliant.
 */
    .f95779c22-c940-4286-af8f-3f23b833b883 .pane_content > .label {
        
display:block !important;    }
    .f95779c22-c940-4286-af8f-3f23b833b883 .pane_toolbar > .label {
        display:none !important;
    }
    .f95779c22-c940-4286-af8f-3f23b833b883 .pane_messages > .label {
        display:none !important;
    }
