
/**
 * Forms 3.1.0 V12 compliant.
 */
.TibcoForms.f7a99741c-7881-4789-a4dd-97169a5e3a82 .pane_toolbar {
overflow: auto;    	width: 200px;
}
    .f7a99741c-7881-4789-a4dd-97169a5e3a82 .pane_toolbar > .label {
        display:none !important;
    }
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.f7a99741c-7881-4789-a4dd-97169a5e3a82 .pane .pane-content .control_SLA_Configuration_taskName {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.f7a99741c-7881-4789-a4dd-97169a5e3a82 .pane .pane-content .control_SLA_Configuration_taskName .tf-container {
	width: 150px;
}
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.f7a99741c-7881-4789-a4dd-97169a5e3a82 .pane .pane-content .control_SLA_Configuration_SLA_Deadline {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.f7a99741c-7881-4789-a4dd-97169a5e3a82 .pane .pane-content .control_SLA_Configuration_SLA_Deadline .tf-container {
	width: 100px;
}
	.f7a99741c-7881-4789-a4dd-97169a5e3a82 .control_SLA_Configuration_taskTo > .label {
	    display:table-cell !important;
	}
	.f7a99741c-7881-4789-a4dd-97169a5e3a82 .control_SLA_Configuration_taskConfig > .label {
	    display:table-cell !important;
	}
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.f7a99741c-7881-4789-a4dd-97169a5e3a82 .pane .pane-content .control_SLA_Configuration_processName {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.f7a99741c-7881-4789-a4dd-97169a5e3a82 .pane .pane-content .control_SLA_Configuration_processName .tf-container {
	width: 150px;
}
    .f7a99741c-7881-4789-a4dd-97169a5e3a82 .pane_SLA_Configuration > .label {
        display:none !important;
    }
    .f7a99741c-7881-4789-a4dd-97169a5e3a82 .pane_pane2 > .label {
        display:none !important;
    }
.f7a99741c-7881-4789-a4dd-97169a5e3a82 .pane_pane2>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.f7a99741c-7881-4789-a4dd-97169a5e3a82 .pane_pane2>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
    .f7a99741c-7881-4789-a4dd-97169a5e3a82 .pane_pane1 > .label {
        display:none !important;
    }
.f7a99741c-7881-4789-a4dd-97169a5e3a82 .pane_pane1>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.f7a99741c-7881-4789-a4dd-97169a5e3a82 .pane_pane1>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
	.f7a99741c-7881-4789-a4dd-97169a5e3a82 .control_image1 > .label > label {
	    display:none !important;
	}
.TibcoForms.f7a99741c-7881-4789-a4dd-97169a5e3a82 .pane_content {
 	background-color: #ffffff;
overflow: auto;    	width: 1027px;
}
    .f7a99741c-7881-4789-a4dd-97169a5e3a82 .pane_content > .label {
        display:none !important;
    }
    .f7a99741c-7881-4789-a4dd-97169a5e3a82 .pane_messages > .label {
        display:none !important;
    }
