
/**
 * Forms 3.1.0 V12 compliant.
 */
.TibcoForms.f6bf7cb38-7ec4-4c2b-a9d8-2be911fd8f7c .pane_toolbar {
overflow: auto;    	width: 200px;
}
    .f6bf7cb38-7ec4-4c2b-a9d8-2be911fd8f7c .pane_toolbar > .label {
        display:none !important;
    }
    .f6bf7cb38-7ec4-4c2b-a9d8-2be911fd8f7c .pane_messages > .label {
        display:none !important;
    }
    .f6bf7cb38-7ec4-4c2b-a9d8-2be911fd8f7c .pane_SLA_Configuration > .label {
        display:none !important;
    }
.TibcoForms.f6bf7cb38-7ec4-4c2b-a9d8-2be911fd8f7c .pane_content {
 	background-color: #ffffff;
overflow: auto;    	width: 1027px;
}
    .f6bf7cb38-7ec4-4c2b-a9d8-2be911fd8f7c .pane_content > .label {
        display:none !important;
    }
