
/**
 * Forms 3.1.0 V12 compliant.
 */
    .f978ea504-f940-4366-bc87-a4b71060e9f9 .pane_toolbar > .label {
        display:none !important;
    }
    .f978ea504-f940-4366-bc87-a4b71060e9f9 .pane_content > .label {
        
display:block !important;    }
    .f978ea504-f940-4366-bc87-a4b71060e9f9 .pane_messages > .label {
        display:none !important;
    }
