
/**
 * Forms 3.1.0 V12 compliant.
 */
    .f1fab89a9-316b-45cc-9bce-2f7a73f7375e .pane_ListOfTablesCopy_pi_started__add_delete > .label {
        display:none !important;
    }
    .f1fab89a9-316b-45cc-9bce-2f7a73f7375e .pane_ListOfTablesCopy_pi_halted__add_delete > .label {
        display:none !important;
    }
    .f1fab89a9-316b-45cc-9bce-2f7a73f7375e .pane_ListOfTablesCopy_pi_cancelled__add_delete > .label {
        display:none !important;
    }
    .f1fab89a9-316b-45cc-9bce-2f7a73f7375e .pane_ListOfTablesCopy_pi_complete__add_delete > .label {
        display:none !important;
    }
    .f1fab89a9-316b-45cc-9bce-2f7a73f7375e .pane_ListOfTables_pi_started__add_delete > .label {
        display:none !important;
    }
    .f1fab89a9-316b-45cc-9bce-2f7a73f7375e .pane_ListOfTables_pi_complete__add_delete > .label {
        display:none !important;
    }
    .f1fab89a9-316b-45cc-9bce-2f7a73f7375e .pane_ListOfTables_pi_halted__add_delete > .label {
        display:none !important;
    }
    .f1fab89a9-316b-45cc-9bce-2f7a73f7375e .pane_ListOfTables_pi_cancelled__add_delete > .label {
        display:none !important;
    }
    .f1fab89a9-316b-45cc-9bce-2f7a73f7375e .pane_content > .label {
        
display:block !important;    }
    .f1fab89a9-316b-45cc-9bce-2f7a73f7375e .pane_toolbar > .label {
        display:none !important;
    }
    .f1fab89a9-316b-45cc-9bce-2f7a73f7375e .pane_messages > .label {
        display:none !important;
    }
