
/**
 * Forms 3.1.0 V12 compliant.
 */
    .fb1ab6ba5-1d09-4acc-a385-d0a1653f061d .pane_ListOfTablesCopy_pi_halted__add_delete > .label {
        display:none !important;
    }
    .fb1ab6ba5-1d09-4acc-a385-d0a1653f061d .pane_ListOfTablesCopy_pi_started__add_delete > .label {
        display:none !important;
    }
    .fb1ab6ba5-1d09-4acc-a385-d0a1653f061d .pane_ListOfTablesCopy_pi_complete__add_delete > .label {
        display:none !important;
    }
    .fb1ab6ba5-1d09-4acc-a385-d0a1653f061d .pane_ListOfTablesCopy_pi_cancelled__add_delete > .label {
        display:none !important;
    }
    .fb1ab6ba5-1d09-4acc-a385-d0a1653f061d .pane_ListOfTables_pi_complete__add_delete > .label {
        display:none !important;
    }
    .fb1ab6ba5-1d09-4acc-a385-d0a1653f061d .pane_ListOfTables_pi_cancelled__add_delete > .label {
        display:none !important;
    }
    .fb1ab6ba5-1d09-4acc-a385-d0a1653f061d .pane_ListOfTables_pi_started__add_delete > .label {
        display:none !important;
    }
    .fb1ab6ba5-1d09-4acc-a385-d0a1653f061d .pane_ListOfTables_pi_halted__add_delete > .label {
        display:none !important;
    }
    .fb1ab6ba5-1d09-4acc-a385-d0a1653f061d .pane_content > .label {
        
display:block !important;    }
    .fb1ab6ba5-1d09-4acc-a385-d0a1653f061d .pane_messages > .label {
        display:none !important;
    }
    .fb1ab6ba5-1d09-4acc-a385-d0a1653f061d .pane_toolbar > .label {
        display:none !important;
    }
