
/**
 * Forms 3.1.0 V12 compliant.
 */
    .f1ffa1364-2574-4b21-88b2-d6e8013793a1 .pane_content > .label {
        
display:block !important;    }
    .f1ffa1364-2574-4b21-88b2-d6e8013793a1 .pane_toolbar > .label {
        display:none !important;
    }
    .f1ffa1364-2574-4b21-88b2-d6e8013793a1 .pane_messages > .label {
        display:none !important;
    }
