
/**
 * Forms 3.1.0 V12 compliant.
 */
.TibcoForms.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_pane5 {
    height: 10px;
overflow: auto;    }
    .f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_pane5 > .label {
        display:none !important;
    }
	.f9bbfb467-ffde-45d4-949e-3172100dc2db .control_image1 > .label > label {
	    display:none !important;
	}
.TibcoForms.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_MarginPanePM2 {
    height: 10px;
overflow: auto;    }
    .f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_MarginPanePM2 > .label {
        display:none !important;
    }
/** 
 * The font properties are applied directly at the control widget level so as to not affect the hint properties
 * for the control.
 *
 * Having #TibcoForms will give this higher specificity than the font defined at parent pane level.
 * As otherwise pane font was getting the preference always.
 */
.TibcoForms.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane .pane-content .control_lblEscalatePM .tf-container .control-widget,

 .TibcoForms.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane .pane-content .control_lblEscalatePM .tf-container .control-widget input {
 	font-weight: bold;
 	color: #ff0000;
 	text-align: left;
}
	.f9bbfb467-ffde-45d4-949e-3172100dc2db .control_txtManagementIPs > .label > label {
	    display:none !important;
	}
    .f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_pneManagementIPs > .label {
        display:none !important;
    }
.TibcoForms.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_pane3 {
    height: 10px;
overflow: auto;    }
    .f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_pane3 > .label {
        display:none !important;
    }
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane .pane-content .control_label1 {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane .pane-content .control_label1 .tf-container {
	width: 10px;
}
	.f9bbfb467-ffde-45d4-949e-3172100dc2db .control_label1 > .label > label {
	    display:none !important;
	}
    .f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_generalDetails > .label {
        display:none !important;
    }
    .f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_pne01 > .label {
        display:none !important;
    }
.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_pne01>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_pne01>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
	.f9bbfb467-ffde-45d4-949e-3172100dc2db .control_createRemedyTicket > .label > label {
	    display:none !important;
	}
	.f9bbfb467-ffde-45d4-949e-3172100dc2db .control_requestManagementIPs > .label > label {
	    display:none !important;
	}
.TibcoForms.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_ContractorUpdateDetails {
    margin: 10px;
overflow: auto;    }
    .f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_ContractorUpdateDetails > .label {
        display:none !important;
    }
    .f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_pane16 > .label {
        display:none !important;
    }
.TibcoForms.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_MarginPanePM {
    height: 10px;
overflow: auto;    }
    .f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_MarginPanePM > .label {
        display:none !important;
    }
.TibcoForms.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_pane4 {
    height: 10px;
overflow: auto;    }
    .f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_pane4 > .label {
        display:none !important;
    }
.TibcoForms.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_pane6 {
    height: 10px;
overflow: auto;    }
    .f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_pane6 > .label {
        display:none !important;
    }
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane .pane-content .control_label6 {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane .pane-content .control_label6 .tf-container {
	width: 10px;
}
	.f9bbfb467-ffde-45d4-949e-3172100dc2db .control_label6 > .label > label {
	    display:none !important;
	}
    .f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_serviceRequest > .label {
        display:none !important;
    }
.TibcoForms.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_pneMarginPane {
    height: 10px;
overflow: auto;    }
    .f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_pneMarginPane > .label {
        display:none !important;
    }
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane .pane-content .control_label7 {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane .pane-content .control_label7 .tf-container {
	width: 10px;
}
	.f9bbfb467-ffde-45d4-949e-3172100dc2db .control_label7 > .label > label {
	    display:none !important;
	}
    .f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_serviceDates > .label {
        display:none !important;
    }
.TibcoForms.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_pane13 {
    height: 10px;
overflow: auto;    }
    .f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_pane13 > .label {
        display:none !important;
    }
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane .pane-content .control_label8 {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane .pane-content .control_label8 .tf-container {
	width: 10px;
}
	.f9bbfb467-ffde-45d4-949e-3172100dc2db .control_label8 > .label > label {
	    display:none !important;
	}
	.f9bbfb467-ffde-45d4-949e-3172100dc2db .control_Provisioning_Data_notesComments > .label > label {
	    display:none !important;
	}
    .f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_pane11 > .label {
        display:none !important;
    }
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane .pane-content .control_label9 {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane .pane-content .control_label9 .tf-container {
	width: 10px;
}
	.f9bbfb467-ffde-45d4-949e-3172100dc2db .control_label9 > .label > label {
	    display:none !important;
	}
    .f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_pane12 > .label {
        display:none !important;
    }
.TibcoForms.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_pane10 {
overflow: auto;        padding: 10px;
}
    .f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_pane10 > .label {
        display:none !important;
    }
.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_pane10>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_pane10>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane .pane-content .control_label5 {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane .pane-content .control_label5 .tf-container {
	width: 10px;
}
	.f9bbfb467-ffde-45d4-949e-3172100dc2db .control_label5 > .label > label {
	    display:none !important;
	}
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane .pane-content .control_Provisioning_Data_location {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane .pane-content .control_Provisioning_Data_location .tf-container {
    height: 73px;
}
    .f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_pane1 > .label {
        display:none !important;
    }
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane .pane-content .control_label4 {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane .pane-content .control_label4 .tf-container {
	width: 10px;
}
	.f9bbfb467-ffde-45d4-949e-3172100dc2db .control_label4 > .label > label {
	    display:none !important;
	}
    .f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_installationAddress > .label {
        display:none !important;
    }
    .f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_pane8 > .label {
        display:none !important;
    }
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane .pane-content .control_label3 {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane .pane-content .control_label3 .tf-container {
	width: 10px;
}
	.f9bbfb467-ffde-45d4-949e-3172100dc2db .control_label3 > .label > label {
	    display:none !important;
	}
    .f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_Pane03 > .label {
        display:none !important;
    }
.TibcoForms.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_pane7 {
    height: 10px;
overflow: auto;    }
    .f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_pane7 > .label {
        display:none !important;
    }
.TibcoForms.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_pane9 {
    height: 10px;
overflow: auto;    }
    .f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_pane9 > .label {
        display:none !important;
    }
.TibcoForms.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_MarginPaneContractor {
    height: 10px;
overflow: auto;    }
    .f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_MarginPaneContractor > .label {
        display:none !important;
    }
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane .pane-content .control_label2 {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane .pane-content .control_label2 .tf-container {
	width: 10px;
}
	.f9bbfb467-ffde-45d4-949e-3172100dc2db .control_label2 > .label > label {
	    display:none !important;
	}
    .f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_clientDetails > .label {
        display:none !important;
    }
.TibcoForms.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_MarginPaneTechnicalInfo {
    height: 10px;
overflow: auto;    }
    .f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_MarginPaneTechnicalInfo > .label {
        display:none !important;
    }
.TibcoForms.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_pane2 {
    height: 10px;
overflow: auto;    }
    .f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_pane2 > .label {
        display:none !important;
    }
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane .pane-content .control_label10 {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane .pane-content .control_label10 .tf-container {
	width: 10px;
}
	.f9bbfb467-ffde-45d4-949e-3172100dc2db .control_label10 > .label > label {
	    display:none !important;
	}
    .f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_contactDetails > .label {
        display:none !important;
    }
.TibcoForms.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_MarginPaneMgmtIPs {
    height: 10px;
overflow: auto;    }
    .f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_MarginPaneMgmtIPs > .label {
        display:none !important;
    }
    .f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_TechnicalInfo_equipment__add_delete > .label {
        display:none !important;
    }
    .f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_ProvisioningData > .label {
        display:none !important;
    }
    .f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_content > .label {
        
display:table-cell !important;    }
    .f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_pane15 > .label {
        display:none !important;
    }
.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_pane15>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_pane15>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
.TibcoForms.f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_toolbar {
overflow: auto;    	width: 200px;
}
    .f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_toolbar > .label {
        display:none !important;
    }
    
    .f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_selectContractor > .label {
    display:block !important;
    }
    .f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_messages > .label {
        display:none !important;
    }
    
    .f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_selectContractorAgency > .label {
    display:block !important;
    }
    .f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_CommentHistory__add_delete > .label {
        display:none !important;
    }
    
    .f9bbfb467-ffde-45d4-949e-3172100dc2db .pane_pnecommenthistory > .label {
    display:block !important;
    }
