
/**
 * Forms 3.1.0 V12 compliant.
 */
.TibcoForms.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pneMarginPane {
    height: 10px;
overflow: auto;    }
    .f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pneMarginPane > .label {
        display:none !important;
    }
	.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .control_CommentText > .label > label {
	    display:none !important;
	}
	.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .control_Provisioning_Data_notesComments > .label > label {
	    display:none !important;
	}
    .f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pane11 > .label {
        display:none !important;
    }
.TibcoForms.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pane10 {
overflow: auto;        padding: 10px;
}
    .f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pane10 > .label {
        display:none !important;
    }
.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pane10>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pane10>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
.TibcoForms.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pneMarginCommentPane {
    height: 10px;
overflow: auto;    }
    .f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pneContractorAgency > .label {
        display:none !important;
    }
    .f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_selectContractorAgency > .label {
        display:none !important;
    }
.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_selectContractorAgency>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_selectContractorAgency>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
    .f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pneTechInfo02 > .label {
        display:none !important;
    }
    .f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pneTechInfo06 > .label {
        display:none !important;
    }
    .f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pneTechInfo04 > .label {
        display:none !important;
    }
    .f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pneTechInfo03 > .label {
        display:none !important;
    }
    .f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pneTechInfo01 > .label {
        display:none !important;
    }
    .f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pneTechInfoParent > .label {
        display:none !important;
    }
.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pneTechInfoParent>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pneTechInfoParent>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane .pane-content .control_label7 {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane .pane-content .control_label7 .tf-container {
	width: 10px;
}
	.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .control_label7 > .label > label {
	    display:none !important;
	}
    .f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_serviceDates > .label {
        display:none !important;
    }
.TibcoForms.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pane6 {
    height: 10px;
overflow: auto;    }
    .f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pane6 > .label {
        display:none !important;
    }
.TibcoForms.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pane5 {
    height: 10px;
overflow: auto;    }
    .f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pane5 > .label {
        display:none !important;
    }
    .f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pane16 > .label {
        display:none !important;
    }
    .f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_selectContractor > .label {
        display:none !important;
    }
.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_selectContractor>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_selectContractor>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane .pane-content .control_CommentHistory_addedby {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane .pane-content .control_CommentHistory_addedby .tf-container {
	width: 150px;
}
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane .pane-content .control_CommentHistory_time {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane .pane-content .control_CommentHistory_time .tf-container {
	width: 200px;
}
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane .pane-content .control_CommentHistory_comments {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane .pane-content .control_CommentHistory_comments .tf-container {
	width: 400px;
}
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane .pane-content .control_CommentHistory_stepName {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane .pane-content .control_CommentHistory_stepName .tf-container {
	width: 200px;
}
    .f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_CommentHistory > .label {
        display:none !important;
    }
    .f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pneComments > .label {
        display:none !important;
    }
    .f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pnecommenthistory > .label {
        display:none !important;
    }
.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pnecommenthistory>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pnecommenthistory>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
	.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .control_image1 > .label > label {
	    display:none !important;
	}
/** 
 * The font properties are applied directly at the control widget level so as to not affect the hint properties
 * for the control.
 *
 * Having #TibcoForms will give this higher specificity than the font defined at parent pane level.
 * As otherwise pane font was getting the preference always.
 */
.TibcoForms.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane .pane-content .control_lblEscalatePM .tf-container .control-widget,

 .TibcoForms.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane .pane-content .control_lblEscalatePM .tf-container .control-widget input {
 	font-weight: bold;
 	color: #ff0000;
 	text-align: left;
}
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane .pane-content .control_label10 {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane .pane-content .control_label10 .tf-container {
	width: 10px;
}
	.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .control_label10 > .label > label {
	    display:none !important;
	}
    .f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_contactDetails > .label {
        display:none !important;
    }
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane .pane-content .control_label3 {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane .pane-content .control_label3 .tf-container {
	width: 10px;
}
	.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .control_label3 > .label > label {
	    display:none !important;
	}
    .f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_Pane03 > .label {
        display:none !important;
    }
    .f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pneClientDetails02 > .label {
        display:none !important;
    }
    .f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_clientDetails > .label {
        display:none !important;
    }
.TibcoForms.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pane7 {
    height: 10px;
overflow: auto;    }
    .f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pane7 > .label {
        display:none !important;
    }
    .f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_generalDetails > .label {
        display:none !important;
    }
    .f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pne01 > .label {
        display:none !important;
    }
.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pne01>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pne01>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
    .f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pane1 > .label {
        display:none !important;
    }
    .f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_installationAddress > .label {
        display:none !important;
    }
    .f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pane8 > .label {
        display:none !important;
    }
.TibcoForms.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pneMarginPaneSelectContractor {
    height: 10px;
overflow: auto;    }
    .f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pneMarginPaneSelectContractor > .label {
        display:none !important;
    }
.TibcoForms.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pane4 {
    height: 10px;
overflow: auto;    }
    .f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pane4 > .label {
        display:none !important;
    }
.TibcoForms.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pane9 {
    height: 10px;
overflow: auto;    }
    .f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pane9 > .label {
        display:none !important;
    }
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane .pane-content .control_label6 {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane .pane-content .control_label6 .tf-container {
	width: 10px;
}
	.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .control_label6 > .label > label {
	    display:none !important;
	}
    .f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_serviceRequest > .label {
        display:none !important;
    }
.TibcoForms.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_MarginPaneTechnicalInfo {
    height: 10px;
overflow: auto;    }
    .f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_MarginPaneTechnicalInfo > .label {
        display:none !important;
    }
.TibcoForms.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pane3 {
    height: 10px;
overflow: auto;    }
    .f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pane3 > .label {
        display:none !important;
    }
.TibcoForms.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pneMarginPaneCntrAgnt {
    height: 10px;
overflow: auto;    }
    .f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pneMarginPaneCntrAgnt > .label {
        display:none !important;
    }
.TibcoForms.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pane2 {
    height: 10px;
overflow: auto;    }
    .f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pane2 > .label {
        display:none !important;
    }
    .f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_ProvisioningData > .label {
        display:none !important;
    }
    .f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_content > .label {
        
display:table-cell !important;    }
    .f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pane15 > .label {
        display:none !important;
    }
.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pane15>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_pane15>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
.TibcoForms.f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_toolbar {
overflow: auto;    	width: 200px;
}
    .f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_toolbar > .label {
        display:none !important;
    }
    .f606686dc-0211-4cb5-8ce2-046a47a5bab7 .pane_messages > .label {
        display:none !important;
    }
