
/**
 * Forms 3.1.0 V12 compliant.
 */
    .f71d2e741-37c6-4303-a6b4-73469732ddf9 .pane_messages > .label {
        display:none !important;
    }
    .f71d2e741-37c6-4303-a6b4-73469732ddf9 .pane_content > .label {
        
display:block !important;    }
    .f71d2e741-37c6-4303-a6b4-73469732ddf9 .pane_toolbar > .label {
        display:none !important;
    }
