
/**
 * Forms 3.1.0 V12 compliant.
 */
    .ff7da1dcb-4a07-4148-90bb-7cc14a7a34b4 .pane_messages > .label {
        display:none !important;
    }
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.ff7da1dcb-4a07-4148-90bb-7cc14a7a34b4 .pane .pane-content .control_LookupTable_autoCaseIdentifier1 {
overflow: auto;            padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}
/**
 * width, height are applied to the control container.
 */
.ff7da1dcb-4a07-4148-90bb-7cc14a7a34b4 .pane .pane-content .control_LookupTable_autoCaseIdentifier1 .tf-container {
}
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.ff7da1dcb-4a07-4148-90bb-7cc14a7a34b4 .pane .pane-content .control_LookupTable_enableFlag {
overflow: auto;            padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}
/**
 * width, height are applied to the control container.
 */
.ff7da1dcb-4a07-4148-90bb-7cc14a7a34b4 .pane .pane-content .control_LookupTable_enableFlag .tf-container {
}
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.ff7da1dcb-4a07-4148-90bb-7cc14a7a34b4 .pane .pane-content .control_LookupTable_lookupKey {
overflow: auto;            padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}
/**
 * width, height are applied to the control container.
 */
.ff7da1dcb-4a07-4148-90bb-7cc14a7a34b4 .pane .pane-content .control_LookupTable_lookupKey .tf-container {
}
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.ff7da1dcb-4a07-4148-90bb-7cc14a7a34b4 .pane .pane-content .control_LookupTable_lookupValue {
overflow: auto;            padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}
/**
 * width, height are applied to the control container.
 */
.ff7da1dcb-4a07-4148-90bb-7cc14a7a34b4 .pane .pane-content .control_LookupTable_lookupValue .tf-container {
}
.TibcoForms.ff7da1dcb-4a07-4148-90bb-7cc14a7a34b4 .pane_pane1 {
    height: 7px;
overflow: auto;    	width: 54px;
}
    .ff7da1dcb-4a07-4148-90bb-7cc14a7a34b4 .pane_pane1 > .label {
        display:none !important;
    }
.TibcoForms.ff7da1dcb-4a07-4148-90bb-7cc14a7a34b4 .pane_content {
overflow: auto;    	width: 1027px;
}
    .ff7da1dcb-4a07-4148-90bb-7cc14a7a34b4 .pane_content > .label {
        display:none !important;
    }
    .ff7da1dcb-4a07-4148-90bb-7cc14a7a34b4 .pane_toolbar > .label {
        display:none !important;
    }
