
/**
 * Forms 3.1.0 V12 compliant.
 */
.TibcoForms.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pneMarginPaneCntrAgnt {
    height: 10px;
overflow: auto;    }
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pneMarginPaneCntrAgnt > .label {
        display:none !important;
    }
.TibcoForms.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pane9 {
    height: 10px;
overflow: auto;    }
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pane9 > .label {
        display:none !important;
    }
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane .pane-content .control_label10 {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane .pane-content .control_label10 .tf-container {
	width: 10px;
}
	.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .control_label10 > .label > label {
	    display:none !important;
	}
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_contactDetails01 > .label {
        display:none !important;
    }
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pneUploadDocument > .label {
        display:none !important;
    }
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pneClientDetails02 > .label {
        display:none !important;
    }
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_clientDetails01 > .label {
        display:none !important;
    }
.TibcoForms.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pneMarginPane {
    height: 10px;
overflow: auto;    }
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pneMarginPane > .label {
        display:none !important;
    }
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane .pane-content .control_label3 {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane .pane-content .control_label3 .tf-container {
	width: 10px;
}
	.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .control_label3 > .label > label {
	    display:none !important;
	}
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_Pane03 > .label {
        display:none !important;
    }
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane .pane-content .control_label6 {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane .pane-content .control_label6 .tf-container {
	width: 10px;
}
	.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .control_label6 > .label > label {
	    display:none !important;
	}
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_serviceRequest > .label {
        display:none !important;
    }
	.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .control_image1 > .label > label {
	    display:none !important;
	}
.TibcoForms.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pneMarginCommentPane {
    height: 10px;
overflow: auto;    }
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pneMarginCommentPane > .label {
        display:none !important;
    }
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pane1 > .label {
        display:none !important;
    }
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_installationAddress01 > .label {
        display:none !important;
    }
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pane8 > .label {
        display:none !important;
    }
.TibcoForms.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pneMarginPaneSelectContractor {
    height: 10px;
overflow: auto;    }
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pneMarginPaneSelectContractor > .label {
        display:none !important;
    }
.TibcoForms.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pane5 {
    height: 10px;
overflow: auto;    }
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pane5 > .label {
        display:none !important;
    }
.TibcoForms.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pneMarginPane01 {
    height: 10px;
overflow: auto;    }
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pane17 > .label {
        display:none !important;
    }
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pneSelectProjectManager01 > .label {
        display:none !important;
    }
.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pneSelectProjectManager01>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pneSelectProjectManager01>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pneSelectProjectManager > .label {
        display:none !important;
    }
.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pneSelectProjectManager>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pneSelectProjectManager>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
.TibcoForms.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pane6 {
    height: 10px;
overflow: auto;    }
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pane6 > .label {
        display:none !important;
    }
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pneContractorAgency > .label {
        display:none !important;
    }
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_selectContractorAgency > .label {
        display:none !important;
    }
.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_selectContractorAgency>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_selectContractorAgency>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
/** 
 * The font properties are applied directly at the control widget level so as to not affect the hint properties
 * for the control.
 *
 * Having #TibcoForms will give this higher specificity than the font defined at parent pane level.
 * As otherwise pane font was getting the preference always.
 */
.TibcoForms.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane .pane-content .control_Provisioning_Data_account .tf-container .control-widget,

 .TibcoForms.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane .pane-content .control_Provisioning_Data_account .tf-container .control-widget input {
 	color: #000000;
 	text-align: left;
}
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_generalDetails01 > .label {
        display:none !important;
    }
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pne01 > .label {
        display:none !important;
    }
.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pne01>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pne01>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pane11 > .label {
        display:none !important;
    }
	.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .control_CommentText > .label > label {
	    display:none !important;
	}
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pneCommentPane > .label {
        display:none !important;
    }
.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pneCommentPane>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pneCommentPane>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
.TibcoForms.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pane10 {
overflow: auto;        padding: 10px;
}
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pane10 > .label {
        display:none !important;
    }
.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pane10>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pane10>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane .pane-content .control_CommentHistory_addedby {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane .pane-content .control_CommentHistory_addedby .tf-container {
	width: 150px;
}
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane .pane-content .control_CommentHistory_time {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane .pane-content .control_CommentHistory_time .tf-container {
	width: 150px;
}
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane .pane-content .control_CommentHistory_comments {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane .pane-content .control_CommentHistory_comments .tf-container {
	width: 400px;
}
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane .pane-content .control_CommentHistory_stepName {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane .pane-content .control_CommentHistory_stepName .tf-container {
	width: 150px;
}
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_CommentHistory > .label {
        display:none !important;
    }
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pneComments > .label {
        display:none !important;
    }
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pnecommenthistory > .label {
        display:none !important;
    }
.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pnecommenthistory>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pnecommenthistory>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
.TibcoForms.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_MarginPaneTechnicalInfo {
    height: 10px;
overflow: auto;    }
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_MarginPaneTechnicalInfo > .label {
        display:none !important;
    }
.TibcoForms.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pane7 {
    height: 10px;
overflow: auto;    }
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pane7 > .label {
        display:none !important;
    }
.TibcoForms.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pane4 {
    height: 10px;
overflow: auto;    }
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pane4 > .label {
        display:none !important;
    }
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pneServiceIPs > .label {
        display:none !important;
    }
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pneMgmtIPs > .label {
        display:none !important;
    }
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pneTechInfo06 > .label {
        display:none !important;
    }
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pneTechInfoParent > .label {
        display:none !important;
    }
.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pneTechInfoParent>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pneTechInfoParent>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
.TibcoForms.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pneMarginUploadPane {
    height: 10px;
overflow: auto;    }
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pneMarginUploadPane > .label {
        display:none !important;
    }
.TibcoForms.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pneMarginPane03 {
overflow: auto;    	width: 10px;
}
.TibcoForms.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pneMarginPane02 {
overflow: auto;    	width: 10px;
}
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pane16 > .label {
        display:none !important;
    }
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_selectContractor > .label {
        display:none !important;
    }
.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_selectContractor>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_selectContractor>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pneSrvcDtPane02 > .label {
        display:none !important;
    }
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pneSrvcDtPane01 > .label {
        display:none !important;
    }
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pneSrvcDt > .label {
        display:none !important;
    }
.TibcoForms.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pane2 {
    height: 10px;
overflow: auto;    }
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pane2 > .label {
        display:none !important;
    }
.TibcoForms.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pane3 {
    height: 10px;
overflow: auto;    }
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pane3 > .label {
        display:none !important;
    }
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_ProvisioningData > .label {
        display:none !important;
    }
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_content > .label {
        
display:table-cell !important;    }
.TibcoForms.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pane15 {
 	background-color: #ffffff;
overflow: auto;    }
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pane15 > .label {
        display:none !important;
    }
.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pane15>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_pane15>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_messages > .label {
        display:none !important;
    }
.TibcoForms.fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_toolbar {
overflow: auto;    	width: 200px;
}
    .fcf4432fb-fd44-476f-a00b-ea2ec6f49dcf .pane_toolbar > .label {
        display:none !important;
    }
