
/**
 * Forms 3.1.0 V12 compliant.
 */
.TibcoForms.fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pneMarginPane01 {
    height: 10px;
overflow: auto;    }
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pane17 > .label {
        display:none !important;
    }
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pneSelectProjectManager01 > .label {
        display:none !important;
    }
.fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pneSelectProjectManager01>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pneSelectProjectManager01>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pneSelectProjectManager > .label {
        display:none !important;
    }
.fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pneSelectProjectManager>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pneSelectProjectManager>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
.TibcoForms.fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pneMarginPaneSelectContractor {
    height: 10px;
overflow: auto;    }
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pneMarginPaneSelectContractor > .label {
        display:none !important;
    }
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pneComments > .label {
        display:none !important;
    }
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pnecommenthistory > .label {
        display:none !important;
    }
.fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pnecommenthistory>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pnecommenthistory>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
.TibcoForms.fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pane3 {
    height: 10px;
overflow: auto;    }
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pane3 > .label {
        display:none !important;
    }
	.fe51175d7-0426-4b14-9283-d63001da88d2 .control_image1 > .label > label {
	    display:none !important;
	}
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pane11 > .label {
        display:none !important;
    }
	.fe51175d7-0426-4b14-9283-d63001da88d2 .control_CommentText > .label > label {
	    display:none !important;
	}
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pneCommentPane > .label {
        display:none !important;
    }
.fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pneCommentPane>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pneCommentPane>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
.TibcoForms.fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pane10 {
overflow: auto;        padding: 10px;
}
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pane10 > .label {
        display:none !important;
    }
.fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pane10>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pane10>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pneContractorAgency > .label {
        display:none !important;
    }
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_selectContractorAgency > .label {
        display:none !important;
    }
.fe51175d7-0426-4b14-9283-d63001da88d2 .pane_selectContractorAgency>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.fe51175d7-0426-4b14-9283-d63001da88d2 .pane_selectContractorAgency>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
.TibcoForms.fe51175d7-0426-4b14-9283-d63001da88d2 .pane_MarginPaneTechnicalInfo {
    height: 10px;
overflow: auto;    }
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_MarginPaneTechnicalInfo > .label {
        display:none !important;
    }
.TibcoForms.fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pneMarginCommentPane {
    height: 10px;
overflow: auto;    }
.TibcoForms.fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pane7 {
    height: 10px;
overflow: auto;    }
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pane7 > .label {
        display:none !important;
    }
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.fe51175d7-0426-4b14-9283-d63001da88d2 .pane .pane-content .control_label10 {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.fe51175d7-0426-4b14-9283-d63001da88d2 .pane .pane-content .control_label10 .tf-container {
	width: 10px;
}
	.fe51175d7-0426-4b14-9283-d63001da88d2 .control_label10 > .label > label {
	    display:none !important;
	}
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_contactDetails > .label {
        display:none !important;
    }
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.fe51175d7-0426-4b14-9283-d63001da88d2 .pane .pane-content .control_label6 {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.fe51175d7-0426-4b14-9283-d63001da88d2 .pane .pane-content .control_label6 .tf-container {
	width: 10px;
}
	.fe51175d7-0426-4b14-9283-d63001da88d2 .control_label6 > .label > label {
	    display:none !important;
	}
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_serviceRequest > .label {
        display:none !important;
    }
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.fe51175d7-0426-4b14-9283-d63001da88d2 .pane .pane-content .control_label3 {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.fe51175d7-0426-4b14-9283-d63001da88d2 .pane .pane-content .control_label3 .tf-container {
	width: 10px;
}
	.fe51175d7-0426-4b14-9283-d63001da88d2 .control_label3 > .label > label {
	    display:none !important;
	}
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_Pane03 > .label {
        display:none !important;
    }
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pane16 > .label {
        display:none !important;
    }
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_selectContractor > .label {
        display:none !important;
    }
.fe51175d7-0426-4b14-9283-d63001da88d2 .pane_selectContractor>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.fe51175d7-0426-4b14-9283-d63001da88d2 .pane_selectContractor>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
.TibcoForms.fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pane5 {
    height: 10px;
overflow: auto;    }
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pane5 > .label {
        display:none !important;
    }
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pane1 > .label {
        display:none !important;
    }
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_installationAddress > .label {
        display:none !important;
    }
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pane8 > .label {
        display:none !important;
    }
.TibcoForms.fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pane9 {
    height: 10px;
overflow: auto;    }
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pane9 > .label {
        display:none !important;
    }
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pneTechInfo04 > .label {
        display:none !important;
    }
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pneTechInfo06 > .label {
        display:none !important;
    }
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pneTechInfo01 > .label {
        display:none !important;
    }
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pneTechInfo03 > .label {
        display:none !important;
    }
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pneTechInfo02 > .label {
        display:none !important;
    }
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pneTechInfoParent > .label {
        display:none !important;
    }
.fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pneTechInfoParent>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pneTechInfoParent>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pneClientDetails02 > .label {
        display:none !important;
    }
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_clientDetails > .label {
        display:none !important;
    }
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.fe51175d7-0426-4b14-9283-d63001da88d2 .pane .pane-content .control_label7 {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.fe51175d7-0426-4b14-9283-d63001da88d2 .pane .pane-content .control_label7 .tf-container {
	width: 10px;
}
	.fe51175d7-0426-4b14-9283-d63001da88d2 .control_label7 > .label > label {
	    display:none !important;
	}
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_serviceDates > .label {
        display:none !important;
    }
.TibcoForms.fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pane2 {
    height: 10px;
overflow: auto;    }
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pane2 > .label {
        display:none !important;
    }
.TibcoForms.fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pneMarginPane {
    height: 10px;
overflow: auto;    }
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pneMarginPane > .label {
        display:none !important;
    }
/** 
 * The font properties are applied directly at the control widget level so as to not affect the hint properties
 * for the control.
 *
 * Having #TibcoForms will give this higher specificity than the font defined at parent pane level.
 * As otherwise pane font was getting the preference always.
 */
.TibcoForms.fe51175d7-0426-4b14-9283-d63001da88d2 .pane .pane-content .control_Provisioning_Data_account .tf-container .control-widget,

 .TibcoForms.fe51175d7-0426-4b14-9283-d63001da88d2 .pane .pane-content .control_Provisioning_Data_account .tf-container .control-widget input {
 	color: #000000;
 	text-align: left;
}
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_generalDetails > .label {
        display:none !important;
    }
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pne01 > .label {
        display:none !important;
    }
.fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pne01>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pne01>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
.TibcoForms.fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pane4 {
    height: 10px;
overflow: auto;    }
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pane4 > .label {
        display:none !important;
    }
.TibcoForms.fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pneMarginPaneCntrAgnt {
    height: 10px;
overflow: auto;    }
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pneMarginPaneCntrAgnt > .label {
        display:none !important;
    }
.TibcoForms.fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pane6 {
    height: 10px;
overflow: auto;    }
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pane6 > .label {
        display:none !important;
    }
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_ProvisioningData > .label {
        display:none !important;
    }
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_content > .label {
        
display:table-cell !important;    }
.TibcoForms.fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pane15 {
 	background-color: #ffffff;
overflow: auto;    }
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pane15 > .label {
        display:none !important;
    }
.fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pane15>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.fe51175d7-0426-4b14-9283-d63001da88d2 .pane_pane15>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
.TibcoForms.fe51175d7-0426-4b14-9283-d63001da88d2 .pane_toolbar {
overflow: auto;    	width: 200px;
}
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_toolbar > .label {
        display:none !important;
    }
    .fe51175d7-0426-4b14-9283-d63001da88d2 .pane_messages > .label {
        display:none !important;
    }
