
/**
 * Forms 3.1.0 V12 compliant.
 */
    .f9f2ae31c-9a8b-4774-87df-4e13b0495f3a .pane_toolbar > .label {
        display:none !important;
    }
    .f9f2ae31c-9a8b-4774-87df-4e13b0495f3a .pane_content > .label {
        
display:block !important;    }
    .f9f2ae31c-9a8b-4774-87df-4e13b0495f3a .pane_messages > .label {
        display:none !important;
    }
