
/**
 * Forms 3.1.0 V12 compliant.
 */
    .ffa52909b-9e72-4e64-ad7a-4fdb2e8f77dc .pane_toolbar > .label {
        display:none !important;
    }
    .ffa52909b-9e72-4e64-ad7a-4fdb2e8f77dc .pane_content > .label {
        
display:block !important;    }
    .ffa52909b-9e72-4e64-ad7a-4fdb2e8f77dc .pane_messages > .label {
        display:none !important;
    }
