
/**
 * Forms 3.1.0 V12 compliant.
 */
    .fedb3292d-6ee1-4420-963a-7a54493a5dda .pane_TechnicalInfo_equipment__add_delete > .label {
        display:none !important;
    }
    .fedb3292d-6ee1-4420-963a-7a54493a5dda .pane_content > .label {
        
display:block !important;    }
    .fedb3292d-6ee1-4420-963a-7a54493a5dda .pane_toolbar > .label {
        display:none !important;
    }
    .fedb3292d-6ee1-4420-963a-7a54493a5dda .pane_messages > .label {
        display:none !important;
    }
