
/**
 * Forms 3.1.0 V12 compliant.
 */
    .fd29f6703-e948-47d3-8f99-06b1cb9c589b .pane_messages > .label {
        display:none !important;
    }
    .fd29f6703-e948-47d3-8f99-06b1cb9c589b .pane_CompletedInstances > .label {
        display:none !important;
    }
    .fd29f6703-e948-47d3-8f99-06b1cb9c589b .pane_pneCompleted > .label {
        display:none !important;
    }
.fd29f6703-e948-47d3-8f99-06b1cb9c589b .pane_pneCompleted>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.fd29f6703-e948-47d3-8f99-06b1cb9c589b .pane_pneCompleted>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
    .fd29f6703-e948-47d3-8f99-06b1cb9c589b .pane_HaltedInstances > .label {
        display:none !important;
    }
    .fd29f6703-e948-47d3-8f99-06b1cb9c589b .pane_pane2 > .label {
        display:none !important;
    }
.fd29f6703-e948-47d3-8f99-06b1cb9c589b .pane_pane2>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.fd29f6703-e948-47d3-8f99-06b1cb9c589b .pane_pane2>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
	.fd29f6703-e948-47d3-8f99-06b1cb9c589b .control_rdioSearchOption > .label > label {
	    display:none !important;
	}
    .fd29f6703-e948-47d3-8f99-06b1cb9c589b .pane_pneSearchCriteria > .label {
        display:none !important;
    }
    .fd29f6703-e948-47d3-8f99-06b1cb9c589b .pane_pane3 > .label {
        display:none !important;
    }
.fd29f6703-e948-47d3-8f99-06b1cb9c589b .pane_pane3>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.fd29f6703-e948-47d3-8f99-06b1cb9c589b .pane_pane3>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
    .fd29f6703-e948-47d3-8f99-06b1cb9c589b .pane_pneSearch > .label {
        display:none !important;
    }
.fd29f6703-e948-47d3-8f99-06b1cb9c589b .pane_pneSearch>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.fd29f6703-e948-47d3-8f99-06b1cb9c589b .pane_pneSearch>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
    .fd29f6703-e948-47d3-8f99-06b1cb9c589b .pane_StartedInstances > .label {
        display:none !important;
    }
    .fd29f6703-e948-47d3-8f99-06b1cb9c589b .pane_pane1 > .label {
        display:none !important;
    }
.fd29f6703-e948-47d3-8f99-06b1cb9c589b .pane_pane1>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.fd29f6703-e948-47d3-8f99-06b1cb9c589b .pane_pane1>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
    .fd29f6703-e948-47d3-8f99-06b1cb9c589b .pane_CancelledInstances > .label {
        display:none !important;
    }
    .fd29f6703-e948-47d3-8f99-06b1cb9c589b .pane_pneCancelled > .label {
        display:none !important;
    }
.fd29f6703-e948-47d3-8f99-06b1cb9c589b .pane_pneCancelled>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.fd29f6703-e948-47d3-8f99-06b1cb9c589b .pane_pneCancelled>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
    .fd29f6703-e948-47d3-8f99-06b1cb9c589b .pane_ListOfTables > .label {
        display:none !important;
    }
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.fd29f6703-e948-47d3-8f99-06b1cb9c589b .pane .pane-content .control_sfcImage {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.fd29f6703-e948-47d3-8f99-06b1cb9c589b .pane .pane-content .control_sfcImage .tf-container {
	width: 800px;
}
    .fd29f6703-e948-47d3-8f99-06b1cb9c589b .pane_content > .label {
        
display:block !important;    }
.TibcoForms.fd29f6703-e948-47d3-8f99-06b1cb9c589b .pane_toolbar {
overflow: auto;    	width: 200px;
}
    .fd29f6703-e948-47d3-8f99-06b1cb9c589b .pane_toolbar > .label {
        display:none !important;
    }
