
/**
 * Forms 3.1.0 V12 compliant.
 */
.TibcoForms.faf8bb79d-8f16-4c12-bca9-cfa2c8189992 .pane_toolbar {
overflow: auto;    	width: 200px;
}
    .faf8bb79d-8f16-4c12-bca9-cfa2c8189992 .pane_toolbar > .label {
        display:none !important;
    }
    .faf8bb79d-8f16-4c12-bca9-cfa2c8189992 .pane_CompletedInstances > .label {
        display:none !important;
    }
    .faf8bb79d-8f16-4c12-bca9-cfa2c8189992 .pane_pneCompleted > .label {
        display:none !important;
    }
.faf8bb79d-8f16-4c12-bca9-cfa2c8189992 .pane_pneCompleted>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.faf8bb79d-8f16-4c12-bca9-cfa2c8189992 .pane_pneCompleted>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
	.faf8bb79d-8f16-4c12-bca9-cfa2c8189992 .control_rdioSearchOption > .label > label {
	    display:none !important;
	}
    .faf8bb79d-8f16-4c12-bca9-cfa2c8189992 .pane_pneSearchCriteria > .label {
        display:none !important;
    }
    .faf8bb79d-8f16-4c12-bca9-cfa2c8189992 .pane_pane3 > .label {
        display:none !important;
    }
.faf8bb79d-8f16-4c12-bca9-cfa2c8189992 .pane_pane3>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.faf8bb79d-8f16-4c12-bca9-cfa2c8189992 .pane_pane3>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
    .faf8bb79d-8f16-4c12-bca9-cfa2c8189992 .pane_pneSearch > .label {
        display:none !important;
    }
.faf8bb79d-8f16-4c12-bca9-cfa2c8189992 .pane_pneSearch>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.faf8bb79d-8f16-4c12-bca9-cfa2c8189992 .pane_pneSearch>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
    .faf8bb79d-8f16-4c12-bca9-cfa2c8189992 .pane_HaltedInstances > .label {
        display:none !important;
    }
    .faf8bb79d-8f16-4c12-bca9-cfa2c8189992 .pane_pane2 > .label {
        display:none !important;
    }
.faf8bb79d-8f16-4c12-bca9-cfa2c8189992 .pane_pane2>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.faf8bb79d-8f16-4c12-bca9-cfa2c8189992 .pane_pane2>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
    .faf8bb79d-8f16-4c12-bca9-cfa2c8189992 .pane_StartedInstances > .label {
        display:none !important;
    }
    .faf8bb79d-8f16-4c12-bca9-cfa2c8189992 .pane_pane1 > .label {
        display:none !important;
    }
.faf8bb79d-8f16-4c12-bca9-cfa2c8189992 .pane_pane1>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.faf8bb79d-8f16-4c12-bca9-cfa2c8189992 .pane_pane1>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
    .faf8bb79d-8f16-4c12-bca9-cfa2c8189992 .pane_CancelledInstances > .label {
        display:none !important;
    }
    .faf8bb79d-8f16-4c12-bca9-cfa2c8189992 .pane_pneCancelled > .label {
        display:none !important;
    }
.faf8bb79d-8f16-4c12-bca9-cfa2c8189992 .pane_pneCancelled>.pane-content>.component>.label {

    width: 120px;
    display:table-cell;
}
.faf8bb79d-8f16-4c12-bca9-cfa2c8189992 .pane_pneCancelled>.pane-content>.component>.pane-content>.gwt-TabBar .gwt-TabBarItem {

    width: 120px;
}
    .faf8bb79d-8f16-4c12-bca9-cfa2c8189992 .pane_ListOfTables > .label {
        display:none !important;
    }
/**
 * Background color, border properties, padding and margin are applied to the control component itself. 
 */
.faf8bb79d-8f16-4c12-bca9-cfa2c8189992 .pane .pane-content .control_sfcImage {
overflow: auto;    }
/**
 * width, height are applied to the control container.
 */
.faf8bb79d-8f16-4c12-bca9-cfa2c8189992 .pane .pane-content .control_sfcImage .tf-container {
	width: 800px;
}
    .faf8bb79d-8f16-4c12-bca9-cfa2c8189992 .pane_content > .label {
        
display:block !important;    }
    .faf8bb79d-8f16-4c12-bca9-cfa2c8189992 .pane_messages > .label {
        display:none !important;
    }
