
/**
 * Forms 3.1.0 V12 compliant.
 */
    .f42de340e-4baa-484a-8cf1-6d55e89e4698 .pane_messages > .label {
        display:none !important;
    }
    .f42de340e-4baa-484a-8cf1-6d55e89e4698 .pane_toolbar > .label {
        display:none !important;
    }
    .f42de340e-4baa-484a-8cf1-6d55e89e4698 .pane_content > .label {
        display:none !important;
    }
	.f42de340e-4baa-484a-8cf1-6d55e89e4698 .control_lblresourceDetails > .label {
	    display:table-cell !important;
	}
    .f42de340e-4baa-484a-8cf1-6d55e89e4698 .pane_pneLabel > .label {
        display:none !important;
    }
    .f42de340e-4baa-484a-8cf1-6d55e89e4698 .pane_resEntryPane > .label {
        display:none !important;
    }
