
/**
 * Forms 3.1.0 V12 compliant.
 */
    .f37dd1232-15ee-430a-8867-1d602d34e6de .pane_ResouceEntry_input__add_delete > .label {
        display:none !important;
    }
    .f37dd1232-15ee-430a-8867-1d602d34e6de .pane_content > .label {
        
display:block !important;    }
    .f37dd1232-15ee-430a-8867-1d602d34e6de .pane_toolbar > .label {
        display:none !important;
    }
    .f37dd1232-15ee-430a-8867-1d602d34e6de .pane_messages > .label {
        display:none !important;
    }
