
/**
 * Forms 3.1.0 V12 compliant.
 */
    .f6895481f-9db4-47b6-8f40-b7eb4859276c .pane_messages > .label {
        display:none !important;
    }
.TibcoForms.f6895481f-9db4-47b6-8f40-b7eb4859276c .pane_content {
overflow: auto;    	width: 1027px;
}
    .f6895481f-9db4-47b6-8f40-b7eb4859276c .pane_content > .label {
        
display:block !important;    }
    .f6895481f-9db4-47b6-8f40-b7eb4859276c .pane_toolbar > .label {
        display:none !important;
    }
