
/**
 * Forms 3.1.0 V12 compliant.
 */
.TibcoForms.f6d8a6fac-6ed6-430b-a5e7-445213365514 .pane_toolbar {
overflow: auto;    	width: 200px;
}
    .f6d8a6fac-6ed6-430b-a5e7-445213365514 .pane_toolbar > .label {
        display:none !important;
    }
    .f6d8a6fac-6ed6-430b-a5e7-445213365514 .pane_messages > .label {
        display:none !important;
    }
    .f6d8a6fac-6ed6-430b-a5e7-445213365514 .pane_SLA_Configuration > .label {
        display:none !important;
    }
.TibcoForms.f6d8a6fac-6ed6-430b-a5e7-445213365514 .pane_content {
 	background-color: #ffffff;
overflow: auto;    	width: 1027px;
}
    .f6d8a6fac-6ed6-430b-a5e7-445213365514 .pane_content > .label {
        display:none !important;
    }
