
/**
 * Forms 3.1.0 V12 compliant.
 */
.TibcoForms.ffa412354-3a49-4779-b88a-1a1857f4cada .pane_toolbar {
overflow: auto;    	width: 200px;
}
    .ffa412354-3a49-4779-b88a-1a1857f4cada .pane_toolbar > .label {
        display:none !important;
    }
    .ffa412354-3a49-4779-b88a-1a1857f4cada .pane_SLA_Configuration > .label {
        display:none !important;
    }
.TibcoForms.ffa412354-3a49-4779-b88a-1a1857f4cada .pane_content {
 	background-color: #ffffff;
overflow: auto;    	width: 1027px;
}
    .ffa412354-3a49-4779-b88a-1a1857f4cada .pane_content > .label {
        display:none !important;
    }
    .ffa412354-3a49-4779-b88a-1a1857f4cada .pane_messages > .label {
        display:none !important;
    }
