
/**
 * Forms 3.1.0 V12 compliant.
 */
    .f9ffefab6-a355-4b60-b6cd-6be7e16785d9 .pane_SLA_Configuration > .label {
        display:none !important;
    }
.TibcoForms.f9ffefab6-a355-4b60-b6cd-6be7e16785d9 .pane_content {
 	background-color: #ffffff;
overflow: auto;    	width: 1027px;
}
    .f9ffefab6-a355-4b60-b6cd-6be7e16785d9 .pane_content > .label {
        display:none !important;
    }
.TibcoForms.f9ffefab6-a355-4b60-b6cd-6be7e16785d9 .pane_toolbar {
overflow: auto;    	width: 200px;
}
    .f9ffefab6-a355-4b60-b6cd-6be7e16785d9 .pane_toolbar > .label {
        display:none !important;
    }
    .f9ffefab6-a355-4b60-b6cd-6be7e16785d9 .pane_messages > .label {
        display:none !important;
    }
