
/**
 * Forms 3.1.0 V12 compliant.
 */
    .f1497adec-c0d2-4275-ba7c-8f67bdecbac4 .pane_SLA_Configuration > .label {
        display:none !important;
    }
.TibcoForms.f1497adec-c0d2-4275-ba7c-8f67bdecbac4 .pane_content {
 	background-color: #ffffff;
overflow: auto;    	width: 1027px;
}
    .f1497adec-c0d2-4275-ba7c-8f67bdecbac4 .pane_content > .label {
        display:none !important;
    }
.TibcoForms.f1497adec-c0d2-4275-ba7c-8f67bdecbac4 .pane_toolbar {
overflow: auto;    	width: 200px;
}
    .f1497adec-c0d2-4275-ba7c-8f67bdecbac4 .pane_toolbar > .label {
        display:none !important;
    }
    .f1497adec-c0d2-4275-ba7c-8f67bdecbac4 .pane_messages > .label {
        display:none !important;
    }
