
/**
 * Forms 3.1.0 V12 compliant.
 */
    .f88f11a49-c3cd-4291-b491-e955e6540ec7 .pane_toolbar > .label {
        display:none !important;
    }
    .f88f11a49-c3cd-4291-b491-e955e6540ec7 .pane_messages > .label {
        display:none !important;
    }
    .f88f11a49-c3cd-4291-b491-e955e6540ec7 .pane_TechnicalInfo_equipment__add_delete > .label {
        display:none !important;
    }
    .f88f11a49-c3cd-4291-b491-e955e6540ec7 .pane_content > .label {
        
display:block !important;    }
