
/**
 * Forms 3.1.0 V12 compliant.
 */
    .f2ab5c03c-c287-4ec8-8a10-8027ee6b7223 .pane_TechnicalInfo_equipment__add_delete > .label {
        display:none !important;
    }
    .f2ab5c03c-c287-4ec8-8a10-8027ee6b7223 .pane_content > .label {
        
display:block !important;    }
    .f2ab5c03c-c287-4ec8-8a10-8027ee6b7223 .pane_messages > .label {
        display:none !important;
    }
    .f2ab5c03c-c287-4ec8-8a10-8027ee6b7223 .pane_toolbar > .label {
        display:none !important;
    }
