
/**
 * Forms 3.1.0 V12 compliant.
 */
    .fa2b9c9b8-8f23-44ec-9dfd-717b63bc32e7 .pane_toolbar > .label {
        display:none !important;
    }
    .fa2b9c9b8-8f23-44ec-9dfd-717b63bc32e7 .pane_content > .label {
        
display:block !important;    }
    .fa2b9c9b8-8f23-44ec-9dfd-717b63bc32e7 .pane_messages > .label {
        display:none !important;
    }
